language: php

php:
  - 7.1
  - 7.2
  - 7.3

install:
    - COMPOSER_MEMORY_LIMIT=-1 travis_retry composer install --prefer-dist --no-interaction

script: phpunit

notifications:
  email:
    on_success: never
